@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Montserrat:wght@300;400&family=Mulish:wght@300;400;700&family=Nunito+Sans:opsz@6..12&family=Nunito:wght@300&family=Pacifico&family=Poppins:wght@300;400;700;900&family=Roboto:wght@400;700&family=Satisfy&family=Young+Serif&display=swap');


*{
    font-family: 'mulish', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #F1F6F9;
}
.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 300px;
    margin-bottom: 30px;
    position: relative;
}

.progress-container::before{
    content: '';
    height: 4px;
    background-color: #ddd;
    position: absolute;
    z-index: -1;
    width: 100%;
    transform: translateY(-50%);
    left: 0;
    top: 50%;
}

.progress{
    height: 4px;
    background-color: #191717;
    position: absolute;
    z-index: -1;
    width: 0%;
    transform: translateY(-50%);
    left: 0;
    top: 50%;
    transition: 0.4s ease;
}

.step{
    background-color: #F1F6F9;
    color: #191717;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #ddd;
    transition: 0.4s ease;
}

.btn {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    margin: 10px 20px 0 20px;
    color: white;
    cursor: pointer;
    background-color: #212A3E;
}
.step.active{
    border-color:#191717;
}

.btn:disabled{
    background-color:#ddd ;
    cursor: not-allowed;
}